@model Inven2.Asientos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_contable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_contable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Cuenta.Tipo_cuenta1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Cuenta.Tipo_cuenta1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Inventario.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Inventario.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAsientoCont }) |
    @Html.ActionLink("Back to List", "Index")
</p>
