@model IEnumerable<Inven2.Asientos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_contable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Cuenta.Tipo_cuenta1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Inventario.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_contable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Cuenta.Tipo_cuenta1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Inventario.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAsientoCont }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAsientoCont }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAsientoCont })
        </td>
    </tr>
}

</table>
